.background_animation
{
    position: relative;
    background-color: rgb(144, 205, 255);
    /* background-image: url(fish.svg); */
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.background_animation object
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -5%);
}

.container-md
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

.zero-padding {
    padding: 0px !important;
  }

.m20 {
    margin: 20px;
}


.m10 {
    margin: 10px;
}

.m05 {
    margin: 5px;
}

.align-items-center {
    display: flex; 
    align-items: center;  /*Aligns vertically center */
    justify-content: center; /*Aligns horizontally center */
  }

.remove {
    
}

.btn-ch{

}

.semiopacity {
    opacity: 1.0; /* Полупрозрачный фон */
    filter: alpha(Opacity=50); /* Прозрачность в IE */
}

.col-02 {
    flex: 0 0 2%;
    max-width: 2%;
}

.col-05 {
    flex: 0 0 5%;
    max-width: 5%;
}

.col-08 {
    flex: 0 0 8%;
    max-width: 8%;
}

.col-010 {
    flex: 0 0 10%;
    max-width: 10%;
}

.col-15 {
    flex: 0 0 15%;
    max-width: 15%;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-25 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-40 {
    flex: 0 0 40%;
    max-width: 40%;
}

.col-60 {
    flex: 0 0 60%;
    max-width: 60%;
}

.col-65 {
    flex: 0 0 65%;
    max-width: 65%;
}

.col-70 {
    flex: 0 0 70%;
    max-width: 70%;
}

.col-72 {
    flex: 0 0 72%;
    max-width: 72%;
}

.col-75 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-80 {
    flex: 0 0 80%;
    max-width: 80%;
}

.col-85 {
    flex: 0 0 85%;
    max-width: 85%;
}

.col-90 {
    flex: 0 0 90%;
    max-width: 90%;
}

.col-95 {
    flex: 0 0 95%;
    max-width: 95%;
}

.texted {
    font-size: 16pt;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2.5); /* IE */
  -moz-transform: scale(2.5); /* FF */
  -webkit-transform: scale(2.5); /* Safari and Chrome */
  -o-transform: scale(2.5); /* Opera */
  transform: scale(2.5);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}